<div class="modal fade" id="exampleCreateModal" tabindex="-1" aria-labelledby="exampleCreateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-primary" id="exampleModalLabel">Topshiriqni yaratish</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <form method="post" class="p-3">
                        <h3 class="text-center text-primary">Yaratish Formasi</h3>
                        <input class="form-control mb-3" type="text" placeholder="Title" name="title">
                        <textarea class="form-control mb-3" rows="8" placeholder="Context" name="context"></textarea>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                <button type="button" class="btn btn-primary">Yaratish</button>
            </div>
        </div>
    </div>
</div>