<div class="modal fade" id="exampleEditModal" tabindex="-1" aria-labelledby="exampleCreateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-warning" id="exampleModalLabel">Topshiriqni O`zgartirish</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <form action="{% url 'edit_task' %}" method="post" class="p-3">
                        {% csrf_token %}
<!--                        <input type="hidden" id="task_id" name="task_id">-->
                        {{ form.as_p }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                            <button type="submit" class="btn btn-warning">Ozgartirish</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>